<strong>Evento</strong>

<p>O usuário <strong>{{ username }}</strong> convidou você para o evento <b>{{event.title}}</b>.</p>
<p><strong>Local:</strong> {{ event.location }}</p>
<p><strong>Data:</strong> {{ event.date }}</p>
<p><strong>Horário:</strong> {{ event.time }}</p>
